body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
    margin: 20px;
}

#title{
    color:white;
    font-size: 48px;
}

#description{
    color:white;
    font-size: 20px;
}

#source{
    padding:20px;
}
#source a{
    color:white;
    font-size: 16px;
}



#canvas{
    width: 1000px;
    height: 600px;
}